In [50]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import datetime
import re
import os

In [51]:
from sklearn import metrics
import sklearn
from sklearn.model_selection  import train_test_split
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
from sklearn import tree
from sklearn.neural_network import MLPClassifier

In [52]:
from __future__ import absolute_import, division, print_function, unicode_literals

import tensorflow as tf
from tensorflow.keras import layers

from tensorflow import keras
from keras.layers import Dense
from keras.utils import to_categorical
from keras.callbacks import Callback

In [100]:
data = pd.read_csv('D:/Dcode/Data/football/train.csv')
datat = pd.read_csv('D:/Dcode/Data/football/test.csv')
datatt = pd.read_csv('D:/Dcode/Data/football/test.csv')
data.head()

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,0.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.0,28.800,22.0000,35.0
1,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,1.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.0,0.000,63.7216,54.4
2,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,0.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.0,122.608,52.0000,42.0
3,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,1.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.0,0.000,19.0000,20.0
4,244.0,-145.0,-11.0,9.0,3.0,0.0,NaN,32.0,34.0,0.0,...,"45.539131, -122.651648",shot - 17,NaN,20000012,1610612747,9.00,3.0,0.000,NaN,34.0

In [54]:
data = data.loc[:,~data.columns.duplicated()]
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]
datat = datat.loc[:,~datat.columns.duplicated()]
datat = datat.loc[:, ~datat.columns.str.contains('^Unnamed')]

In [55]:
toDrop = [
    'power_of_shot.1',
    'remaining_min.1',
    'remaining_sec.1',
    'distance_of_shot.1',
    'knockout_match.1',
    'date_of_game',
    'match_id',
    'team_id',
    'shot_basics',
    'range_of_shot',
    'match_event_id'
]
data.drop(toDrop, axis=1, inplace=True)
datat.drop(toDrop, axis=1, inplace=True)
data.shape

(19604, 16)

In [56]:
data = data[np.isfinite(data['is_goal'])]
data.head()

,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,area_of_shot,team_name,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot
0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,0.0,Left Side(L),Manchester United,MANU @ POR,2.0,"45.539131, -122.651648",shot - 45,NaN
1,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,1.0,Left Side Center(LC),Manchester United,NaN,3.0,"45.539131, -122.651648",shot - 25,NaN
2,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,0.0,Right Side Center(RC),Manchester United,MANU @ POR,4.0,"45.539131, -122.651648",NaN,shot - 3
3,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,1.0,Center(C),NaN,MANU @ POR,5.0,"45.539131, -122.651648",NaN,shot - 1
4,-145.0,-11.0,9.0,3.0,0.0,NaN,32.0,34.0,0.0,Left Side(L),Manchester United,MANU @ POR,6.0,"45.539131, -122.651648",shot - 17,NaN

In [57]:
mdata=data
toDrop = [
    'team_name',
    'home/away',
    'shot_id_number',
    #'lat/lng',
   # 'location_x',
  #  'location_y',
    'game_season'
]
data.drop(toDrop, axis=1, inplace=True)
datat.drop(toDrop, axis=1, inplace=True)

In [58]:
data['Lat'], data['Lon'] = data['lat/lng'].str.split(', ').str
data.Lat=data.Lat.astype(float)
data.Lon=data.Lon.astype(float)
data.drop('lat/lng', axis=1, inplace=True)
datat['Lat'], datat['Lon'] = datat['lat/lng'].str.split(', ').str
datat.Lat=datat.Lat.astype(float)
datat.Lon=datat.Lon.astype(float)
datat.drop('lat/lng', axis=1, inplace=True)

In [59]:
data.shape

(19604, 13)

In [60]:
datat.shape

(3575, 12)

In [61]:
data=pd.get_dummies(data, columns=["area_of_shot"], prefix=["area"])
datat=pd.get_dummies(datat, columns=["area_of_shot"], prefix=["area"])

In [62]:
data.shape

(19604, 18)

In [63]:
datat.shape

(3575, 17)

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19604 entries, 0 to 19603
Data columns (total 18 columns):
location_x                    18701 non-null float64
location_y                    18613 non-null float64
remaining_min                 18604 non-null float64
power_of_shot                 18673 non-null float64
knockout_match                18670 non-null float64
remaining_sec                 18592 non-null float64
distance_of_shot              18585 non-null float64
is_goal                       19604 non-null float64
type_of_shot                  9846 non-null object
type_of_combined_shot         9758 non-null object
Lat                           18605 non-null float64
Lon                           18605 non-null float64
area_Center(C)                19604 non-null uint8
area_Left Side Center(LC)     19604 non-null uint8
area_Left Side(L)             19604 non-null uint8
area_Mid Ground(MG)           19604 non-null uint8
area_Right Side Center(RC)    19604 non-null uint8
area_Right Side(R)            19604 non-null uint8
dtypes: float64(10), object(2), uint8(6)
memory usage: 2.1+ MB

In [65]:
data.remaining_min.isnull().sum()
data['remaining_min']=data['remaining_min'].replace(np.NaN, int(data['remaining_min'].mean()))
data['power_of_shot']=data['power_of_shot'].replace(np.NaN, int(data['power_of_shot'].mean()))
data['knockout_match']=data['knockout_match'].replace(np.NaN, int(data['knockout_match'].mean()))
data['remaining_sec']=data['remaining_sec'].replace(np.NaN, int(data['remaining_sec'].mean()))
data['distance_of_shot']=data['distance_of_shot'].replace(np.NaN, int(data['distance_of_shot'].mean()))

data['location_x']=data['location_x'].replace(np.NaN, int(data['location_x'].mean()))
data['location_y']=data['location_y'].replace(np.NaN, int(data['location_y'].mean()))
data['Lat']=data['Lat'].replace(np.NaN, int(data['Lat'].mean()))
data['Lon']=data['Lon'].replace(np.NaN, int(data['Lon'].mean()))

data['is_goal']=data['is_goal'].replace(np.NaN, int(data['is_goal'].mean()))
data['type_of_shot']=data['type_of_shot'].replace(np.NaN, "shot - NaN")
data['type_of_combined_shot']=data['type_of_combined_shot'].replace(np.NaN, "shot - NaN")

In [66]:
datat.remaining_min.isnull().sum()
datat['remaining_min']=datat['remaining_min'].replace(np.NaN, int(datat['remaining_min'].mean()))
datat['power_of_shot']=datat['power_of_shot'].replace(np.NaN, int(datat['power_of_shot'].mean()))
datat['knockout_match']=datat['knockout_match'].replace(np.NaN, int(datat['knockout_match'].mean()))
datat['remaining_sec']=datat['remaining_sec'].replace(np.NaN, int(datat['remaining_sec'].mean()))
datat['distance_of_shot']=datat['distance_of_shot'].replace(np.NaN, int(datat['distance_of_shot'].mean()))

datat['location_x']=datat['location_x'].replace(np.NaN, int(datat['location_x'].mean()))
datat['location_y']=datat['location_y'].replace(np.NaN, int(datat['location_y'].mean()))
datat['Lat']=datat['Lat'].replace(np.NaN, int(datat['Lat'].mean()))
datat['Lon']=datat['Lon'].replace(np.NaN, int(datat['Lon'].mean()))

#datat['is_goal']=datat['is_goal'].replace(np.NaN, int(datat['is_goal'].mean()))
datat['type_of_shot']=datat['type_of_shot'].replace(np.NaN, "shot - NaN")
datat['type_of_combined_shot']=datat['type_of_combined_shot'].replace(np.NaN, "shot - NaN")

In [67]:
data['remaining_min'] = data['remaining_min'].astype(int)
data['power_of_shot'] = data['power_of_shot'].astype(int)
data['knockout_match'] = data['knockout_match'].astype(int)
data['remaining_sec'] = data['remaining_sec'].astype(int)
data['is_goal'] = data['is_goal'].astype(int)

data['location_x'] = data['location_x'].astype(int)
data['location_y'] = data['location_y'].astype(int)

data['distance_of_shot'] = data['distance_of_shot'].astype(int)

In [69]:
datat['remaining_min'] = datat['remaining_min'].astype(int)
datat['power_of_shot'] = datat['power_of_shot'].astype(int)
datat['knockout_match'] = datat['knockout_match'].astype(int)
datat['remaining_sec'] = datat['remaining_sec'].astype(int)
#datat['is_goal'] = datat['is_goal'].astype(int)

datat['location_x'] = datat['location_x'].astype(int)
datat['location_y'] = datat['location_y'].astype(int)

datat['distance_of_shot'] = datat['distance_of_shot'].astype(int)

In [70]:
data.tail()

,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal,type_of_shot,type_of_combined_shot,Lat,Lon,area_Center(C),area_Left Side Center(LC),area_Left Side(L),area_Mid Ground(MG),area_Right Side Center(RC),area_Right Side(R)
19599,-169,121,10,2,0,41,40,0,shot - NaN,shot - 3,38.567296,-121.456638,0,0,1,0,0,0
19600,0,0,5,2,0,23,20,1,shot - NaN,shot - 5,38.567296,-121.456638,1,0,0,0,0,0
19601,-162,3,4,2,0,34,36,1,shot - 56,shot - NaN,38.567296,-121.456638,0,0,1,0,0,0
19602,7,0,2,2,0,26,20,1,shot - NaN,shot - 4,38.567296,-121.456638,1,0,0,0,0,0
19603,0,0,0,3,0,42,20,0,shot - NaN,shot - 4,40.000000,-85.000000,1,0,0,0,0,0

In [71]:
data=pd.get_dummies(data, columns=["type_of_shot"], prefix=["type_of_shot"])
data=pd.get_dummies(data, columns=["type_of_combined_shot"], prefix=["type_of_combined_shot"])
datat=pd.get_dummies(datat, columns=["type_of_shot"], prefix=["type_of_shot"])
datat=pd.get_dummies(datat, columns=["type_of_combined_shot"], prefix=["type_of_combined_shot"])
data

,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal,Lat,Lon,...,type_of_shot_shot - 8,type_of_shot_shot - 9,type_of_shot_shot - NaN,type_of_combined_shot_shot - 0,type_of_combined_shot_shot - 1,type_of_combined_shot_shot - 2,type_of_combined_shot_shot - 3,type_of_combined_shot_shot - 4,type_of_combined_shot_shot - 5,type_of_combined_shot_shot - NaN
0,-157,0,10,1,0,22,35,0,45.539131,-122.651648,...,0,0,0,0,0,0,0,0,0,1
1,-101,135,7,1,0,45,36,1,45.539131,-122.651648,...,0,0,0,0,0,0,0,0,0,1
2,138,175,6,1,0,52,42,0,45.539131,-122.651648,...,0,0,1,0,0,0,1,0,0,0
3,0,0,4,2,0,19,20,1,45.539131,-122.651648,...,0,0,1,0,1,0,0,0,0,0
4,-145,-11,9,3,0,32,34,0,45.539131,-122.651648,...,0,0,0,0,0,0,0,0,0,1
5,0,0,8,2,0,52,20,1,45.539131,-122.651648,...,0,0,1,0,0,0,0,1,0,0
6,-65,91,6,3,0,12,32,1,45.539131,-122.651648,...,0,0,0,0,0,0,0,0,0,1
7,-33,91,3,3,0,36,32,0,45.539131,-122.651648,...,0,0,0,0,0,0,0,0,0,1
8,121,127,11,1,0,0,37,1,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
9,-67,91,7,1,0,28,33,1,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
10,-94,4,4,1,0,44,29,0,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
11,-23,47,1,1,0,16,25,0,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
12,7,192,0,1,0,28,40,0,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
13,-117,226,8,2,0,50,45,1,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
14,7,97,11,3,0,29,36,0,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
15,3,144,10,3,0,8,34,0,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
16,-16,110,7,3,0,57,31,1,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
17,-109,150,5,3,0,47,38,1,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
18,-46,63,5,3,0,11,27,1,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
19,0,0,2,3,0,36,20,0,42.982923,-71.446094,...,0,0,1,0,0,0,0,1,0,0
20,7,196,2,3,0,4,40,0,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
21,-183,186,0,3,0,30,46,0,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
22,85,173,8,4,0,28,39,0,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
23,3,87,6,4,0,22,28,0,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
24,121,4,1,4,0,20,33,1,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
25,127,34,0,4,0,30,33,0,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
26,91,184,3,2,0,30,40,1,49.250068,-123.114646,...,0,0,1,0,0,0,1,0,0,0
27,-27,272,0,2,0,4,47,1,49.250068,-123.114646,...,0,0,1,0,0,0,1,0,0,0
28,-176,66,11,3,0,12,38,0,49.250068,-123.114646,...,0,0,1,0,0,0,1,0,0,0
29,7,4,10,3,0,13,20,1,40.000000,-85.000000,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19574,0,0,1,1,0,36,20,1,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
19575,7,233,0,2,0,51,45,1,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
19576,-119,0,11,2,0,28,31,0,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
19577,-106,61,10,2,0,24,32,0,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
19578,0,0,6,3,0,47,20,0,42.982923,-71.446094,...,0,0,1,0,0,0,0,1,0,0
19579,115,139,5,3,0,4,38,0,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
19580,-171,91,4,3,0,10,47,0,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
19581,0,0,11,1,0,48,20,1,42.982923,-71.446094,...,0,0,1,0,1,0,0,0,0,0
19582,0,0,9,1,0,23,20,1,42.982923,-71.446094,...,0,0,1,0,0,0,0,1,0,0
19583,130,83,10,2,0,27,35,0,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
19584,0,0,8,2,0,27,20,1,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
19585,143,115,7,2,0,34,38,1,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
19586,-27,100,4,2,0,37,30,1,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
19587,-119,27,4,2,0,2,32,0,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
19588,-149,143,2,2,0,1,40,0,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
19589,0,0,9,3,0,18,20,1,42.982923,-71.446094,...,0,0,0,0,0,0,0,0,0,1
19590,0,91,7,3,0,24,20,1,42.982923,-71.446094,...,0,0,1,0,0,0,0,1,0,0
19591,-113,229,4,3,0,16,45,0,42.982923,-71.446094,...,0,0,1,0,0,0,1,0,0,0
19592,74,145,10,1,0,10,36,1,38.567296,-121.456638,...,0,0,1,0,0,0,1,0,0,0
19593,-126,149,7,1,0,4,39,0,38.567296,-121.456638,...,0,0,0,0,0,0,0,0,0,1
19594,-147,-8,4,1,0,24,34,1,38.567296,-121.456638,...,0,0,1,0,0,0,1,0,0,0
19595,154,3,1,1,0,57,35,0,38.567296,-121.456638,...,0,0,1,0,0,0,1,0,0,0
19596,0,0,1,1,0,25,20,1,38.567296,-121.456638,...,0,0,1,0,0,0,0,1,0,0
19597,-18,242,0,1,0,36,44,0,38.567296,-121.456638,...,0,0,0,0,0,0,0,0,0,1
19598,74,53,0,1,0,0,29,0,38.567296,-121.456638,...,0,0,0,0,0,0,0,0,0,1
19599,-169,121,10,2,0,41,40,0,38.567296,-121.456638,...,0,0,1,0,0,0,1,0,0,0
19600,0,0,5,2,0,23,20,1,38.567296,-121.456638,...,0,0,1,0,0,0,0,0,1,0
19601,-162,3,4,2,0,34,36,1,38.567296,-121.456638,...,0,0,0,0,0,0,0,0,0,1
19602,7,0,2,2,0,26,20,1,38.567296,-121.456638,...,0,0,1,0,0,0,0,1,0,0
19603,0,0,0,3,0,42,20,0,40.000000,-85.000000,...,0,0,1,0,0,0,0,1,0,0

In [72]:
data.shape

(19604, 81)

In [73]:
datat.shape

(3575, 80)

In [74]:
y=data['is_goal']
x=data
x.drop('is_goal', axis=1, inplace=True)
print(y)

0        0
1        1
2        0
3        1
4        0
5        1
6        1
7        0
8        1
9        1
10       0
11       0
12       0
13       1
14       0
15       0
16       1
17       1
18       1
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       1
27       1
28       0
29       1
        ..
19574    1
19575    1
19576    0
19577    0
19578    0
19579    0
19580    0
19581    1
19582    1
19583    0
19584    1
19585    1
19586    1
19587    0
19588    0
19589    1
19590    1
19591    0
19592    1
19593    0
19594    1
19595    0
19596    1
19597    0
19598    0
19599    0
19600    1
19601    1
19602    1
19603    0
Name: is_goal, Length: 19604, dtype: int32

In [75]:
data['location_x']=data['location_x']/250
data['location_y']=data['location_y']/350
datat['location_x']=datat['location_x']/250
datat['location_y']=datat['location_y']/350
data

,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,Lat,Lon,area_Center(C),...,type_of_shot_shot - 8,type_of_shot_shot - 9,type_of_shot_shot - NaN,type_of_combined_shot_shot - 0,type_of_combined_shot_shot - 1,type_of_combined_shot_shot - 2,type_of_combined_shot_shot - 3,type_of_combined_shot_shot - 4,type_of_combined_shot_shot - 5,type_of_combined_shot_shot - NaN
0,-0.628,0.000000,10,1,0,22,35,45.539131,-122.651648,0,...,0,0,0,0,0,0,0,0,0,1
1,-0.404,0.385714,7,1,0,45,36,45.539131,-122.651648,0,...,0,0,0,0,0,0,0,0,0,1
2,0.552,0.500000,6,1,0,52,42,45.539131,-122.651648,0,...,0,0,1,0,0,0,1,0,0,0
3,0.000,0.000000,4,2,0,19,20,45.539131,-122.651648,1,...,0,0,1,0,1,0,0,0,0,0
4,-0.580,-0.031429,9,3,0,32,34,45.539131,-122.651648,0,...,0,0,0,0,0,0,0,0,0,1
5,0.000,0.000000,8,2,0,52,20,45.539131,-122.651648,1,...,0,0,1,0,0,0,0,1,0,0
6,-0.260,0.260000,6,3,0,12,32,45.539131,-122.651648,0,...,0,0,0,0,0,0,0,0,0,1
7,-0.132,0.260000,3,3,0,36,32,45.539131,-122.651648,1,...,0,0,0,0,0,0,0,0,0,1
8,0.484,0.362857,11,1,0,0,37,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
9,-0.268,0.260000,7,1,0,28,33,42.982923,-71.446094,0,...,0,0,0,0,0,0,0,0,0,1
10,-0.376,0.011429,4,1,0,44,29,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
11,-0.092,0.134286,1,1,0,16,25,42.982923,-71.446094,1,...,0,0,0,0,0,0,0,0,0,1
12,0.028,0.548571,0,1,0,28,40,42.982923,-71.446094,1,...,0,0,1,0,0,0,1,0,0,0
13,-0.468,0.645714,8,2,0,50,45,42.982923,-71.446094,0,...,0,0,0,0,0,0,0,0,0,1
14,0.028,0.277143,11,3,0,29,36,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
15,0.012,0.411429,10,3,0,8,34,42.982923,-71.446094,1,...,0,0,0,0,0,0,0,0,0,1
16,-0.064,0.314286,7,3,0,57,31,42.982923,-71.446094,1,...,0,0,0,0,0,0,0,0,0,1
17,-0.436,0.428571,5,3,0,47,38,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
18,-0.184,0.180000,5,3,0,11,27,42.982923,-71.446094,1,...,0,0,1,0,0,0,1,0,0,0
19,0.000,0.000000,2,3,0,36,20,42.982923,-71.446094,1,...,0,0,1,0,0,0,0,1,0,0
20,0.028,0.560000,2,3,0,4,40,42.982923,-71.446094,1,...,0,0,0,0,0,0,0,0,0,1
21,-0.732,0.531429,0,3,0,30,46,42.982923,-71.446094,0,...,0,0,0,0,0,0,0,0,0,1
22,0.340,0.494286,8,4,0,28,39,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
23,0.012,0.248571,6,4,0,22,28,42.982923,-71.446094,1,...,0,0,0,0,0,0,0,0,0,1
24,0.484,0.011429,1,4,0,20,33,42.982923,-71.446094,0,...,0,0,0,0,0,0,0,0,0,1
25,0.508,0.097143,0,4,0,30,33,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
26,0.364,0.525714,3,2,0,30,40,49.250068,-123.114646,0,...,0,0,1,0,0,0,1,0,0,0
27,-0.108,0.777143,0,2,0,4,47,49.250068,-123.114646,1,...,0,0,1,0,0,0,1,0,0,0
28,-0.704,0.188571,11,3,0,12,38,49.250068,-123.114646,0,...,0,0,1,0,0,0,1,0,0,0
29,0.028,0.011429,10,3,0,13,20,40.000000,-85.000000,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19574,0.000,0.000000,1,1,0,36,20,42.982923,-71.446094,1,...,0,0,0,0,0,0,0,0,0,1
19575,0.028,0.665714,0,2,0,51,45,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
19576,-0.476,0.000000,11,2,0,28,31,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
19577,-0.424,0.174286,10,2,0,24,32,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
19578,0.000,0.000000,6,3,0,47,20,42.982923,-71.446094,1,...,0,0,1,0,0,0,0,1,0,0
19579,0.460,0.397143,5,3,0,4,38,42.982923,-71.446094,0,...,0,0,0,0,0,0,0,0,0,1
19580,-0.684,0.260000,4,3,0,10,47,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
19581,0.000,0.000000,11,1,0,48,20,42.982923,-71.446094,1,...,0,0,1,0,1,0,0,0,0,0
19582,0.000,0.000000,9,1,0,23,20,42.982923,-71.446094,1,...,0,0,1,0,0,0,0,1,0,0
19583,0.520,0.237143,10,2,0,27,35,42.982923,-71.446094,0,...,0,0,0,0,0,0,0,0,0,1
19584,0.000,0.000000,8,2,0,27,20,42.982923,-71.446094,1,...,0,0,0,0,0,0,0,0,0,1
19585,0.572,0.328571,7,2,0,34,38,42.982923,-71.446094,0,...,0,0,0,0,0,0,0,0,0,1
19586,-0.108,0.285714,4,2,0,37,30,42.982923,-71.446094,1,...,0,0,1,0,0,0,1,0,0,0
19587,-0.476,0.077143,4,2,0,2,32,42.982923,-71.446094,0,...,0,0,0,0,0,0,0,0,0,1
19588,-0.596,0.408571,2,2,0,1,40,42.982923,-71.446094,0,...,0,0,0,0,0,0,0,0,0,1
19589,0.000,0.000000,9,3,0,18,20,42.982923,-71.446094,1,...,0,0,0,0,0,0,0,0,0,1
19590,0.000,0.260000,7,3,0,24,20,42.982923,-71.446094,1,...,0,0,1,0,0,0,0,1,0,0
19591,-0.452,0.654286,4,3,0,16,45,42.982923,-71.446094,0,...,0,0,1,0,0,0,1,0,0,0
19592,0.296,0.414286,10,1,0,10,36,38.567296,-121.456638,0,...,0,0,1,0,0,0,1,0,0,0
19593,-0.504,0.425714,7,1,0,4,39,38.567296,-121.456638,0,...,0,0,0,0,0,0,0,0,0,1
19594,-0.588,-0.022857,4,1,0,24,34,38.567296,-121.456638,0,...,0,0,1,0,0,0,1,0,0,0
19595,0.616,0.008571,1,1,0,57,35,38.567296,-121.456638,0,...,0,0,1,0,0,0,1,0,0,0
19596,0.000,0.000000,1,1,0,25,20,38.567296,-121.456638,1,...,0,0,1,0,0,0,0,1,0,0
19597,-0.072,0.691429,0,1,0,36,44,38.567296,-121.456638,1,...,0,0,0,0,0,0,0,0,0,1
19598,0.296,0.151429,0,1,0,0,29,38.567296,-121.456638,0,...,0,0,0,0,0,0,0,0,0,1
19599,-0.676,0.345714,10,2,0,41,40,38.567296,-121.456638,0,...,0,0,1,0,0,0,1,0,0,0
19600,0.000,0.000000,5,2,0,23,20,38.567296,-121.456638,1,...,0,0,1,0,0,0,0,0,1,0
19601,-0.648,0.008571,4,2,0,34,36,38.567296,-121.456638,0,...,0,0,0,0,0,0,0,0,0,1
19602,0.028,0.000000,2,2,0,26,20,38.567296,-121.456638,1,...,0,0,1,0,0,0,0,1,0,0
19603,0.000,0.000000,0,3,0,42,20,40.000000,-85.000000,1,...,0,0,1,0,0,0,0,1,0,0

In [76]:
print(x.shape)
y.shape

(19604, 80)

(19604,)

In [77]:
y_binary = to_categorical(y)
y_binary.dtype

dtype('float32')

In [78]:
print(x.shape)
y.shape

(19604, 80)

(19604,)

In [89]:
model = tf.keras.Sequential([
    layers.Dense(10, activation='relu', input_shape=(80,)),
    layers.Dense(20, activation='relu'),
    layers.Dense(2, activation='softmax')])

In [90]:
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [91]:
reducer = keras.callbacks.ReduceLROnPlateau(monitor="val_loss")
earlystopper = keras.callbacks.EarlyStopping(monitor='val_loss')

In [92]:
with tf.device('/device:GPU:0'):
    model.fit(x,y, epochs=100, batch_size=30, validation_split=0.3, callbacks=[reducer])

Train on 13722 samples, validate on 5882 samples
Epoch 1/100
13722/13722 [==============================] - 2s 129us/sample - loss: 0.8127 - acc: 0.5590 - val_loss: 0.6765 - val_acc: 0.5826
Epoch 2/100
13722/13722 [==============================] - 1s 106us/sample - loss: 0.6748 - acc: 0.5833 - val_loss: 0.7146 - val_acc: 0.5801
Epoch 3/100
13722/13722 [==============================] - 1s 108us/sample - loss: 0.6736 - acc: 0.5905 - val_loss: 0.6549 - val_acc: 0.6190
Epoch 4/100
13722/13722 [==============================] - 1s 109us/sample - loss: 0.6765 - acc: 0.5830 - val_loss: 0.6568 - val_acc: 0.6251
Epoch 5/100
13722/13722 [==============================] - 1s 105us/sample - loss: 0.6646 - acc: 0.6021 - val_loss: 0.6622 - val_acc: 0.6233
Epoch 6/100
13722/13722 [==============================] - 2s 111us/sample - loss: 0.6670 - acc: 0.5945 - val_loss: 0.6672 - val_acc: 0.5843
Epoch 7/100
13722/13722 [==============================] - 2s 112us/sample - loss: 0.6637 - acc: 0.6022 - val_loss: 0.6630 - val_acc: 0.6253
Epoch 8/100
13722/13722 [==============================] - 1s 105us/sample - loss: 0.6616 - acc: 0.6023 - val_loss: 0.6739 - val_acc: 0.6229
Epoch 9/100
13722/13722 [==============================] - 1s 104us/sample - loss: 0.6620 - acc: 0.6052 - val_loss: 0.6470 - val_acc: 0.6234
Epoch 10/100
13722/13722 [==============================] - 1s 97us/sample - loss: 0.6577 - acc: 0.6116 - val_loss: 0.6476 - val_acc: 0.6261
Epoch 11/100
13722/13722 [==============================] - 1s 99us/sample - loss: 0.6585 - acc: 0.6050 - val_loss: 0.6410 - val_acc: 0.6413
Epoch 12/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6553 - acc: 0.6132 - val_loss: 0.6402 - val_acc: 0.6370
Epoch 13/100
13722/13722 [==============================] - 1s 105us/sample - loss: 0.6576 - acc: 0.6065 - val_loss: 0.6432 - val_acc: 0.6362
Epoch 14/100
13722/13722 [==============================] - 1s 102us/sample - loss: 0.6600 - acc: 0.6025 - val_loss: 0.6514 - val_acc: 0.6284
Epoch 15/100
13722/13722 [==============================] - 1s 106us/sample - loss: 0.6509 - acc: 0.6125 - val_loss: 0.6459 - val_acc: 0.6338
Epoch 16/100
13722/13722 [==============================] - 1s 101us/sample - loss: 0.6518 - acc: 0.6155 - val_loss: 0.6465 - val_acc: 0.6324
Epoch 17/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6505 - acc: 0.6123 - val_loss: 0.6392 - val_acc: 0.6377
Epoch 18/100
13722/13722 [==============================] - 1s 99us/sample - loss: 0.6527 - acc: 0.6124 - val_loss: 0.6507 - val_acc: 0.6219
Epoch 19/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6503 - acc: 0.6167 - val_loss: 0.6429 - val_acc: 0.6324
Epoch 20/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6522 - acc: 0.6133 - val_loss: 0.6393 - val_acc: 0.6389
Epoch 21/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6495 - acc: 0.6184 - val_loss: 0.6433 - val_acc: 0.6328
Epoch 22/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6512 - acc: 0.6151 - val_loss: 0.6391 - val_acc: 0.6413
Epoch 23/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6487 - acc: 0.6196 - val_loss: 0.6379 - val_acc: 0.6375
Epoch 24/100
13722/13722 [==============================] - 1s 105us/sample - loss: 0.6470 - acc: 0.6192 - val_loss: 0.6490 - val_acc: 0.6287
Epoch 25/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6461 - acc: 0.6171 - val_loss: 0.6611 - val_acc: 0.5988
Epoch 26/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6473 - acc: 0.6214 - val_loss: 0.6414 - val_acc: 0.6392
Epoch 27/100
13722/13722 [==============================] - 1s 99us/sample - loss: 0.6461 - acc: 0.6190 - val_loss: 0.6449 - val_acc: 0.6340
Epoch 28/100
13722/13722 [==============================] - 1s 106us/sample - loss: 0.6475 - acc: 0.6200 - val_loss: 0.6363 - val_acc: 0.6442
Epoch 29/100
13722/13722 [==============================] - 1s 106us/sample - loss: 0.6469 - acc: 0.6173 - val_loss: 0.6384 - val_acc: 0.6370
Epoch 30/100
13722/13722 [==============================] - 1s 103us/sample - loss: 0.6448 - acc: 0.6214 - val_loss: 0.6377 - val_acc: 0.6437
Epoch 31/100
13722/13722 [==============================] - 1s 101us/sample - loss: 0.6450 - acc: 0.6197 - val_loss: 0.6378 - val_acc: 0.6394
Epoch 32/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6445 - acc: 0.6253 - val_loss: 0.6358 - val_acc: 0.6443
Epoch 33/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6458 - acc: 0.6164 - val_loss: 0.6371 - val_acc: 0.6435
Epoch 34/100
13722/13722 [==============================] - 1s 105us/sample - loss: 0.6449 - acc: 0.6231 - val_loss: 0.6400 - val_acc: 0.6370
Epoch 35/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6432 - acc: 0.6235 - val_loss: 0.6350 - val_acc: 0.6455
Epoch 36/100
13722/13722 [==============================] - 1s 101us/sample - loss: 0.6469 - acc: 0.6197 - val_loss: 0.6363 - val_acc: 0.6462
Epoch 37/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6455 - acc: 0.6231 - val_loss: 0.6362 - val_acc: 0.6462
Epoch 38/100
13722/13722 [==============================] - 1s 104us/sample - loss: 0.6440 - acc: 0.6250 - val_loss: 0.6390 - val_acc: 0.6403
Epoch 39/100
13722/13722 [==============================] - 2s 110us/sample - loss: 0.6434 - acc: 0.6257 - val_loss: 0.6381 - val_acc: 0.6401
Epoch 40/100
13722/13722 [==============================] - 2s 111us/sample - loss: 0.6428 - acc: 0.6226 - val_loss: 0.6584 - val_acc: 0.6069
Epoch 41/100
13722/13722 [==============================] - 1s 108us/sample - loss: 0.6415 - acc: 0.6250 - val_loss: 0.6371 - val_acc: 0.6438
Epoch 42/100
13722/13722 [==============================] - 2s 109us/sample - loss: 0.6421 - acc: 0.6275 - val_loss: 0.6557 - val_acc: 0.6119
Epoch 43/100
13722/13722 [==============================] - 1s 108us/sample - loss: 0.6425 - acc: 0.6245 - val_loss: 0.6384 - val_acc: 0.6435
Epoch 44/100
13722/13722 [==============================] - 1s 101us/sample - loss: 0.6413 - acc: 0.6263 - val_loss: 0.6879 - val_acc: 0.5264
Epoch 45/100
13722/13722 [==============================] - 1s 106us/sample - loss: 0.6410 - acc: 0.6266 - val_loss: 0.6376 - val_acc: 0.6433
Epoch 46/100
13722/13722 [==============================] - 1s 107us/sample - loss: 0.6362 - acc: 0.6331 - val_loss: 0.6374 - val_acc: 0.6431
Epoch 47/100
13722/13722 [==============================] - 1s 106us/sample - loss: 0.6357 - acc: 0.6345 - val_loss: 0.6396 - val_acc: 0.6408
Epoch 48/100
13722/13722 [==============================] - 2s 110us/sample - loss: 0.6355 - acc: 0.6334 - val_loss: 0.6381 - val_acc: 0.6423
Epoch 49/100
13722/13722 [==============================] - 1s 108us/sample - loss: 0.6353 - acc: 0.6337 - val_loss: 0.6368 - val_acc: 0.6425
Epoch 50/100
13722/13722 [==============================] - 1s 109us/sample - loss: 0.6352 - acc: 0.6343 - val_loss: 0.6390 - val_acc: 0.6425
Epoch 51/100
13722/13722 [==============================] - 1s 108us/sample - loss: 0.6350 - acc: 0.6331 - val_loss: 0.6364 - val_acc: 0.6421
Epoch 52/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6354 - acc: 0.6337 - val_loss: 0.6373 - val_acc: 0.6420
Epoch 53/100
13722/13722 [==============================] - 1s 95us/sample - loss: 0.6351 - acc: 0.6338 - val_loss: 0.6384 - val_acc: 0.6408
Epoch 54/100
13722/13722 [==============================] - 1s 96us/sample - loss: 0.6352 - acc: 0.6329 - val_loss: 0.6368 - val_acc: 0.6406
Epoch 55/100
13722/13722 [==============================] - 1s 102us/sample - loss: 0.6349 - acc: 0.6345 - val_loss: 0.6471 - val_acc: 0.6372
Epoch 56/100
13722/13722 [==============================] - 1s 98us/sample - loss: 0.6350 - acc: 0.6329 - val_loss: 0.6389 - val_acc: 0.6403
Epoch 57/100
13722/13722 [==============================] - 1s 97us/sample - loss: 0.6343 - acc: 0.6343 - val_loss: 0.6385 - val_acc: 0.6399
Epoch 58/100
13722/13722 [==============================] - 1s 96us/sample - loss: 0.6342 - acc: 0.6339 - val_loss: 0.6382 - val_acc: 0.6397
Epoch 59/100
13722/13722 [==============================] - 1s 95us/sample - loss: 0.6343 - acc: 0.6352 - val_loss: 0.6383 - val_acc: 0.6403
Epoch 60/100
13722/13722 [==============================] - 1s 96us/sample - loss: 0.6343 - acc: 0.6347 - val_loss: 0.6383 - val_acc: 0.6401
Epoch 61/100
13722/13722 [==============================] - 1s 96us/sample - loss: 0.6342 - acc: 0.6344 - val_loss: 0.6383 - val_acc: 0.6399
Epoch 62/100
13722/13722 [==============================] - 1s 101us/sample - loss: 0.6342 - acc: 0.6342 - val_loss: 0.6383 - val_acc: 0.6404
Epoch 63/100
13722/13722 [==============================] - 1s 102us/sample - loss: 0.6342 - acc: 0.6350 - val_loss: 0.6380 - val_acc: 0.6397
Epoch 64/100
13722/13722 [==============================] - 1s 107us/sample - loss: 0.6342 - acc: 0.6339 - val_loss: 0.6390 - val_acc: 0.6414
Epoch 65/100
13722/13722 [==============================] - 1s 96us/sample - loss: 0.6342 - acc: 0.6342 - val_loss: 0.6386 - val_acc: 0.6409
Epoch 66/100
13722/13722 [==============================] - 1s 95us/sample - loss: 0.6341 - acc: 0.6352 - val_loss: 0.6386 - val_acc: 0.6408
Epoch 67/100
13722/13722 [==============================] - 1s 96us/sample - loss: 0.6341 - acc: 0.6351 - val_loss: 0.6385 - val_acc: 0.6406
Epoch 68/100
13722/13722 [==============================] - 1s 99us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6385 - val_acc: 0.6406
Epoch 69/100
13722/13722 [==============================] - 1s 102us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 70/100
13722/13722 [==============================] - 1s 97us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6408
Epoch 71/100
13722/13722 [==============================] - 1s 95us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 72/100
13722/13722 [==============================] - 1s 98us/sample - loss: 0.6341 - acc: 0.6345 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 73/100
13722/13722 [==============================] - 1s 96us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 74/100
13722/13722 [==============================] - 1s 95us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 75/100
13722/13722 [==============================] - 1s 95us/sample - loss: 0.6341 - acc: 0.6350 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 76/100
13722/13722 [==============================] - 1s 96us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 77/100
13722/13722 [==============================] - 1s 98us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 78/100
13722/13722 [==============================] - 1s 105us/sample - loss: 0.6341 - acc: 0.6346 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 79/100
13722/13722 [==============================] - 1s 107us/sample - loss: 0.6341 - acc: 0.6346 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 80/100
13722/13722 [==============================] - 1s 99us/sample - loss: 0.6341 - acc: 0.6346 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 81/100
13722/13722 [==============================] - 1s 101us/sample - loss: 0.6341 - acc: 0.6346 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 82/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 83/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6341 - acc: 0.6345 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 84/100
13722/13722 [==============================] - 1s 101us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 85/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 86/100
13722/13722 [==============================] - 1s 101us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 87/100
13722/13722 [==============================] - 1s 101us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 88/100
13722/13722 [==============================] - 1s 102us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 89/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 90/100
13722/13722 [==============================] - 1s 106us/sample - loss: 0.6341 - acc: 0.6346 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 91/100
13722/13722 [==============================] - 1s 106us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 92/100
13722/13722 [==============================] - 1s 106us/sample - loss: 0.6341 - acc: 0.6346 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 93/100
13722/13722 [==============================] - 1s 97us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 94/100
13722/13722 [==============================] - 1s 100us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 95/100
13722/13722 [==============================] - 1s 104us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 96/100
13722/13722 [==============================] - 1s 107us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 97/100
13722/13722 [==============================] - 1s 105us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 98/100
13722/13722 [==============================] - 1s 108us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 99/100
13722/13722 [==============================] - 1s 103us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406
Epoch 100/100
13722/13722 [==============================] - 1s 104us/sample - loss: 0.6341 - acc: 0.6347 - val_loss: 0.6384 - val_acc: 0.6406

In [93]:
result = model.predict(datat, batch_size=32)
result

array([[0.45764974, 0.5423503 ],
       [0.55135643, 0.44864354],
       [0.03857527, 0.96142477],
       ...,
       [0.62677145, 0.37322855],
       [0.6745697 , 0.32543024],
       [0.61683565, 0.3831644 ]], dtype=float32)

In [94]:
print(result)

[[0.45764974 0.5423503 ]
 [0.55135643 0.44864354]
 [0.03857527 0.96142477]
 ...
 [0.62677145 0.37322855]
 [0.6745697  0.32543024]
 [0.61683565 0.3831644 ]]

In [95]:
result_goal = result[:,1]

In [96]:
result_goal = np.where(result_goal > 0.5, 1., 0.)

In [104]:
result_goal

array([1., 0., 1., ..., 0., 0., 0.])

In [98]:
i = 0
for j in range(result_goal.size):
    if(result_goal[j] == 1):
        i+=1;
print(i)

962

In [101]:
w = pd.Series(result_goal,name='is_goal')
submission = pd.concat([pd.Series(datatt['shot_id_number'].values,name="shot_id_number"),w],axis = 1)
submission.to_csv("sub.csv",index = False)

In [102]:
pred = pd.read_csv('D:/Dcode/sub.csv')

In [103]:
pred

      shot_id_number  is_goal
0            26001.0      1.0
1            26004.0      0.0
2            26005.0      1.0
3            26007.0      1.0
4            26008.0      0.0
5            26010.0      1.0
6            26011.0      0.0
7            26012.0      0.0
8            26013.0      1.0
9            26014.0      1.0
10           26015.0      0.0
11           26017.0      1.0
12           26018.0      1.0
13           26019.0      0.0
14           26020.0      1.0
15           26021.0      0.0
16           26022.0      0.0
17           26024.0      0.0
18           26025.0      0.0
19           26026.0      0.0
20           26027.0      0.0
21           26028.0      0.0
22           26029.0      0.0
23           26030.0      0.0
24           26031.0      0.0
25           26032.0      0.0
26           26033.0      0.0
27           26034.0      0.0
28           26035.0      1.0
29           26036.0      0.0
...              ...      ...
3545         30652.0      0.0
3546         30653.0      0.0
3547         30654.0      0.0
3548         30655.0      0.0
3549         30657.0      0.0
3550         30658.0      0.0
3551         30659.0      0.0
3552         30661.0      1.0
3553         30662.0      1.0
3554         30664.0      0.0
3555         30666.0      1.0
3556         30667.0      0.0
3557         30668.0      0.0
3558         30671.0      0.0
3559         30674.0      0.0
3560         30675.0      0.0
3561         30676.0      0.0
3562         30677.0      1.0
3563         30678.0      0.0
3564         30679.0      1.0
3565         30684.0      1.0
3566         30685.0      0.0
3567         30686.0      0.0
3568         30689.0      0.0
3569         30690.0      0.0
3570         30691.0      0.0
3571         30692.0      1.0
3572         30695.0      0.0
3573         30696.0      0.0
3574         30697.0      0.0

[3575 rows x 2 columns]